<div class="home">
  <div class="container">
    <div class="wrapper-home-block">
      <div class="home__sidebar">
        <nav class="categories">
          <ul class="categories__list"></ul>
        </nav>

        <load src="partials/charitable-foundations.html" />
      </div>

      <section class="popular__books">
        <h2 class="books__list__title"></h2>
        <ul class="books__list"></ul>
      </section>
      <load src="./pagination-list-home.html "></load>
    </div>
  </div>
</div>
