<!-- <div class="pagination js-pagination"> -->
<!-- <div class="pagination js-pagination visually-hidden"> -->
<button class="pagination__btn js-pag-first" data-page="first" type="button">
  &laquo;
</button>
<button class="pagination__btn js-pag-prev" data-page="prev" type="button">
  &lsaquo;
</button>

<div class="pagination__pages js-pag-pages"></div>

<button class="pagination__btn js-pag-next" data-page="next" type="button">
  &rsaquo;
</button>
<button class="pagination__btn js-pag-last" data-page="last" type="button">
  &raquo;
</button>
<!-- </div> -->

<!-- <nav
  class="pagination-container"
  aria-label="Pagination Navigation"
  id="dynamic-pagination"
>

  <button
    class="page-btn double-prev"
    id="btn-first-page"
    aria-label="First page"
  ></button>
  <button
    class="page-btn prev"
    id="btn-prev-page"
    aria-label="Previous page"
  ></button>


  <div class="page-numbers" id="pagination-pages">

    <a href="#" class="page-num active">1</a>
    <a href="#" class="page-num">2</a>
    <span class="page-dots">...</span> 
   
  </div>


  <button
    class="page-btn next"
    id="btn-next-page"
    aria-label="Next page"
  ></button>
  <button
    class="page-btn double-next"
    id="btn-last-page"
    aria-label="Last page"
  ></button>
</nav> -->
