/* ===== CONTAINER ===== */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Tablet — от 768px */
@media (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Desktop — от 1440px */
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 128px;
    padding-right: 128px;
  }
}